body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

#portfolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; /* adjust this value to add space between the images */
}

.portfolio-image {
    transition: transform 0.3s ease-in-out;
}

.portfolio-image:hover {
    transform: scale(1.01);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}