body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

#portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio-image {
    transition: transform 0.3s ease-in-out;
}

.portfolio-image:hover {
    transform: scale(1.01);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}s